#contact {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contactPageTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.clientDesc {
    font-weight: 300;
    font-size: 1rem;
}

.clientImgs {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.clientImg {
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;
}

#clients {
    padding: 2rem;
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name,
.email,
.msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn:hover {
    transform: scale(1.1);
}
.submitBtn {
    background-color: white;
    border: none;
    border-radius: 1rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    transition: transform 0.3s ease;

}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
    transition: transform 0.3s ease;
}

.skill-image{
    width: 75%;
    height: auto;
    margin: 0 auto;
}

.skills-card{
    background-color: #f0efd4;
    color: black;
    font-weight: 500;
    padding: 30px 10px 15px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    text-align: center;
    
}
.link:hover{
    transform: scale(1.5);
    /* color: aliceblue; */
    background-color: aliceblue;
    border-radius: 50%;
}

.skills-card-name{
    font-size: 18px;
    margin-top: 10px;

}

.outer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 35px;
    width: 85%;
    margin: 0 auto;
    color: white;
}